<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="m-top-and-bottom-2">
            <span>Supplier</span>
            <a class="btn btn-primary float-right" [routerLink]="[ absolutePath, 'create']" data-dismiss="modal">
              <i class="fa fa-plus fa-fw" aria-hidden="true"></i>
              Crear Nuevo Supplier
            </a>
          </h3>
    </div>
    <div class="panel-body">
      <table class="table table-striped table-responsive" *ngIf="suppliers">
          <thead>
            <tr>
              <th class="cursor-pointer" (click)="sort('homePage')">
                Home Page
                <i class="fa" [ngClass]="{'fa-sort': column != 'homePage', 'fa-sort-asc': (column == 'homePage' && isDesc), 'fa-sort-desc': (column == 'homePage' && !isDesc) }" aria-hidden="true"> </i>
              </th>
              <th class="cursor-pointer" (click)="sort('companyName')">
                Company Name
                <i class="fa" [ngClass]="{'fa-sort': column != 'companyName', 'fa-sort-asc': (column == 'companyName' && isDesc), 'fa-sort-desc': (column == 'companyName' && !isDesc) }" aria-hidden="true"> </i>
              </th>
              <th class="cursor-pointer" (click)="sort('contactName')">
                Contact Name
                <i class="fa" [ngClass]="{'fa-sort': column != 'contactName', 'fa-sort-asc': (column == 'contactName' && isDesc), 'fa-sort-desc': (column == 'contactName' && !isDesc) }" aria-hidden="true"> </i>
              </th>
              <th class="cursor-pointer" (click)="sort('contactTitle')">
                Contact Title
                <i class="fa" [ngClass]="{'fa-sort': column != 'contactTitle', 'fa-sort-asc': (column == 'contactTitle' && isDesc), 'fa-sort-desc': (column == 'contactTitle' && !isDesc) }" aria-hidden="true"> </i>
              </th>
              <th class="cursor-pointer" (click)="sort('address')">
                Address
                <i class="fa" [ngClass]="{'fa-sort': column != 'address', 'fa-sort-asc': (column == 'address' && isDesc), 'fa-sort-desc': (column == 'address' && !isDesc) }" aria-hidden="true"> </i>
              </th>
              <th class="cursor-pointer" (click)="sort('city')">
                City
                <i class="fa" [ngClass]="{'fa-sort': column != 'city', 'fa-sort-asc': (column == 'city' && isDesc), 'fa-sort-desc': (column == 'city' && !isDesc) }" aria-hidden="true"> </i>
              </th>
              <th class="cursor-pointer" (click)="sort('region')">
                Region
                <i class="fa" [ngClass]="{'fa-sort': column != 'region', 'fa-sort-asc': (column == 'region' && isDesc), 'fa-sort-desc': (column == 'region' && !isDesc) }" aria-hidden="true"> </i>
              </th>
              <th class="cursor-pointer" (click)="sort('postalCode')">
                Postal Code
                <i class="fa" [ngClass]="{'fa-sort': column != 'postalCode', 'fa-sort-asc': (column == 'postalCode' && isDesc), 'fa-sort-desc': (column == 'postalCode' && !isDesc) }" aria-hidden="true"> </i>
              </th>
              <th class="cursor-pointer" (click)="sort('country')">
                Country
                <i class="fa" [ngClass]="{'fa-sort': column != 'country', 'fa-sort-asc': (column == 'country' && isDesc), 'fa-sort-desc': (column == 'country' && !isDesc) }" aria-hidden="true"> </i>
              </th>
              <th class="cursor-pointer" (click)="sort('phone')">
                Phone
                <i class="fa" [ngClass]="{'fa-sort': column != 'phone', 'fa-sort-asc': (column == 'phone' && isDesc), 'fa-sort-desc': (column == 'phone' && !isDesc) }" aria-hidden="true"> </i>
              </th>
              <th class="cursor-pointer" (click)="sort('fax')">
                Fax
                <i class="fa" [ngClass]="{'fa-sort': column != 'fax', 'fa-sort-asc': (column == 'fax' && isDesc), 'fa-sort-desc': (column == 'fax' && !isDesc) }" aria-hidden="true"> </i>
              </th>
              <th>Acciones</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let supplier of suppliers | orderBy: { property: column, direction: direction }">
              <td>{{ supplier.homePage }}</td>
              <td>{{ supplier.companyName }}</td>
              <td>{{ supplier.contactName }}</td>
              <td>{{ supplier.contactTitle }}</td>
              <td>{{ supplier.address }}</td>
              <td>{{ supplier.city }}</td>
              <td>{{ supplier.region }}</td>
              <td>{{ supplier.postalCode }}</td>
              <td>{{ supplier.country }}</td>
              <td>{{ supplier.phone }}</td>
              <td>{{ supplier.fax }}</td>
              <td>
                <a class="btn btn-info btn-sm" [routerLink]="[ absolutePath, supplier._id]"><span class="fa fa-eye fa-fw"></span>Ver</a>
                <a class="btn btn-primary btn-sm" [routerLink]="[ absolutePath, supplier._id, 'update']"><span class="fa fa-pencil fa-fw"></span>Editar</a>
                <a class="btn btn-danger btn-sm text-white cursor-pointer" (click)="openDeleteModal(content, supplier._id)"><span class="fa fa-trash fa-fw"></span>Eliminar</a>
              </td>
            </tr>
          </tbody>
        </table>
    </div>
  </div>

<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h5 class="modal-title"><i class="fa fa-exclamation-triangle fa-lg fa-fw" aria-hidden="true"></i>¿Esta seguro de eliminar?</h5>
    <button type="button" class="close cursor-pointer" aria-label="Close" (click)="d(deleteModalOpts.cancel)">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary cursor-pointer" (click)="c(deleteModalOpts.ok)"><i class="fa fa-check fa-fw"></i>Aceptar</button>
    <button type="button" class="btn btn-secondary cursor-pointer" (click)="c(deleteModalOpts.cancel)"><i class="fa fa-ban fa-fw"></i>Cancelar</button>
  </div>
</ng-template>
