<div class="container m-top-and-bottom">
  <div class="card">
    <div class="card-header text-white text-center bg-dark">
      <h4>{{ crudOperationTitle }} Employee</h4>
    </div>
    <div class="card-body">
      <form #myForm="ngForm">
        <div class="row">
          <div *ngIf="employee && employee._id" class="col-md-12 form-group">
            <label for="field_id">ID</label>
            <input id="fiel_id" *ngIf="employee" type="text" class="form-control" name="id" [(ngModel)]="employee._id" disabled required>
          </div>
          
          <div class="col-6 form-group">
  <label for="field_lastName">Last Name</label>
  <input type="text" id="field_lastName" *ngIf="employee" class="form-control" name="lastName" [(ngModel)]="employee.lastName" required  [ngClass]="{ 'is-invalid': (myForm.controls.lastName?.dirty && myForm.controls.lastName?.invalid) }" />
  <input type="text" id="field_lastName" *ngIf="!employee" class="form-control" name="lastName" ngModel required  [ngClass]="{ 'is-invalid': (myForm.controls.lastName?.dirty && myForm.controls.lastName?.invalid) }"/>
      <div *ngIf="(myForm.controls.lastName?.dirty && myForm.controls.lastName?.invalid)">
                <small [hidden]="!myForm.controls.lastName?.errors?.required" class="form-text text-danger"></small>
                    </div>
</div>

          
          <div class="col-6 form-group">
  <label for="field_firstName">First Name</label>
  <input type="text" id="field_firstName" *ngIf="employee" class="form-control" name="firstName" [(ngModel)]="employee.firstName" required  [ngClass]="{ 'is-invalid': (myForm.controls.firstName?.dirty && myForm.controls.firstName?.invalid) }" />
  <input type="text" id="field_firstName" *ngIf="!employee" class="form-control" name="firstName" ngModel required  [ngClass]="{ 'is-invalid': (myForm.controls.firstName?.dirty && myForm.controls.firstName?.invalid) }"/>
      <div *ngIf="(myForm.controls.firstName?.dirty && myForm.controls.firstName?.invalid)">
                <small [hidden]="!myForm.controls.firstName?.errors?.required" class="form-text text-danger"></small>
                    </div>
</div>

          
          <div class="col-6 form-group">
  <label for="field_title">Title</label>
  <input type="text" id="field_title" *ngIf="employee" class="form-control" name="title" [(ngModel)]="employee.title" required  [ngClass]="{ 'is-invalid': (myForm.controls.title?.dirty && myForm.controls.title?.invalid) }" />
  <input type="text" id="field_title" *ngIf="!employee" class="form-control" name="title" ngModel required  [ngClass]="{ 'is-invalid': (myForm.controls.title?.dirty && myForm.controls.title?.invalid) }"/>
      <div *ngIf="(myForm.controls.title?.dirty && myForm.controls.title?.invalid)">
                <small [hidden]="!myForm.controls.title?.errors?.required" class="form-text text-danger"></small>
                    </div>
</div>

          
          <div class="col-6 form-group">
  <label for="field_titleOfCourtesy">Title Of Courtesy</label>
  <input type="text" id="field_titleOfCourtesy" *ngIf="employee" class="form-control" name="titleOfCourtesy" [(ngModel)]="employee.titleOfCourtesy" required  [ngClass]="{ 'is-invalid': (myForm.controls.titleOfCourtesy?.dirty && myForm.controls.titleOfCourtesy?.invalid) }" />
  <input type="text" id="field_titleOfCourtesy" *ngIf="!employee" class="form-control" name="titleOfCourtesy" ngModel required  [ngClass]="{ 'is-invalid': (myForm.controls.titleOfCourtesy?.dirty && myForm.controls.titleOfCourtesy?.invalid) }"/>
      <div *ngIf="(myForm.controls.titleOfCourtesy?.dirty && myForm.controls.titleOfCourtesy?.invalid)">
                <small [hidden]="!myForm.controls.titleOfCourtesy?.errors?.required" class="form-text text-danger"></small>
                    </div>
</div>

          
          <div class="col-6 form-group">
  <label for="field_birthDate">Birth Date</label>
  <input type="date" id="field_birthDate" *ngIf="employee" class="form-control" name="birthDate" [(ngModel)]="employee.birthDate"  />
  <input type="date" id="field_birthDate" *ngIf="!employee" class="form-control" name="birthDate" ngModel />
  </div>

          
          <div class="col-6 form-group">
  <label for="field_hireDate">Hire Date</label>
  <input type="date" id="field_hireDate" *ngIf="employee" class="form-control" name="hireDate" [(ngModel)]="employee.hireDate"  />
  <input type="date" id="field_hireDate" *ngIf="!employee" class="form-control" name="hireDate" ngModel />
  </div>

          
          <div class="col-6 form-group">
  <label for="field_address">Address</label>
  <input type="text" id="field_address" *ngIf="employee" class="form-control" name="address" [(ngModel)]="employee.address" required  [ngClass]="{ 'is-invalid': (myForm.controls.address?.dirty && myForm.controls.address?.invalid) }" />
  <input type="text" id="field_address" *ngIf="!employee" class="form-control" name="address" ngModel required  [ngClass]="{ 'is-invalid': (myForm.controls.address?.dirty && myForm.controls.address?.invalid) }"/>
      <div *ngIf="(myForm.controls.address?.dirty && myForm.controls.address?.invalid)">
                <small [hidden]="!myForm.controls.address?.errors?.required" class="form-text text-danger"></small>
                    </div>
</div>

          
          <div class="col-6 form-group">
  <label for="field_city">City</label>
  <input type="text" id="field_city" *ngIf="employee" class="form-control" name="city" [(ngModel)]="employee.city" required  [ngClass]="{ 'is-invalid': (myForm.controls.city?.dirty && myForm.controls.city?.invalid) }" />
  <input type="text" id="field_city" *ngIf="!employee" class="form-control" name="city" ngModel required  [ngClass]="{ 'is-invalid': (myForm.controls.city?.dirty && myForm.controls.city?.invalid) }"/>
      <div *ngIf="(myForm.controls.city?.dirty && myForm.controls.city?.invalid)">
                <small [hidden]="!myForm.controls.city?.errors?.required" class="form-text text-danger"></small>
                    </div>
</div>

          
          <div class="col-6 form-group">
  <label for="field_region">Region</label>
  <input type="text" id="field_region" *ngIf="employee" class="form-control" name="region" [(ngModel)]="employee.region" required  [ngClass]="{ 'is-invalid': (myForm.controls.region?.dirty && myForm.controls.region?.invalid) }" />
  <input type="text" id="field_region" *ngIf="!employee" class="form-control" name="region" ngModel required  [ngClass]="{ 'is-invalid': (myForm.controls.region?.dirty && myForm.controls.region?.invalid) }"/>
      <div *ngIf="(myForm.controls.region?.dirty && myForm.controls.region?.invalid)">
                <small [hidden]="!myForm.controls.region?.errors?.required" class="form-text text-danger"></small>
                    </div>
</div>

          
          <div class="col-6 form-group">
  <label for="field_postalCode">Postal Code</label>
  <input type="text" id="field_postalCode" *ngIf="employee" class="form-control" name="postalCode" [(ngModel)]="employee.postalCode" required  [ngClass]="{ 'is-invalid': (myForm.controls.postalCode?.dirty && myForm.controls.postalCode?.invalid) }" />
  <input type="text" id="field_postalCode" *ngIf="!employee" class="form-control" name="postalCode" ngModel required  [ngClass]="{ 'is-invalid': (myForm.controls.postalCode?.dirty && myForm.controls.postalCode?.invalid) }"/>
      <div *ngIf="(myForm.controls.postalCode?.dirty && myForm.controls.postalCode?.invalid)">
                <small [hidden]="!myForm.controls.postalCode?.errors?.required" class="form-text text-danger"></small>
                    </div>
</div>

          
          <div class="col-6 form-group">
  <label for="field_country">Country</label>
  <input type="text" id="field_country" *ngIf="employee" class="form-control" name="country" [(ngModel)]="employee.country" required  [ngClass]="{ 'is-invalid': (myForm.controls.country?.dirty && myForm.controls.country?.invalid) }" />
  <input type="text" id="field_country" *ngIf="!employee" class="form-control" name="country" ngModel required  [ngClass]="{ 'is-invalid': (myForm.controls.country?.dirty && myForm.controls.country?.invalid) }"/>
      <div *ngIf="(myForm.controls.country?.dirty && myForm.controls.country?.invalid)">
                <small [hidden]="!myForm.controls.country?.errors?.required" class="form-text text-danger"></small>
                    </div>
</div>

          
          <div class="col-6 form-group">
  <label for="field_homePhone">Home Phone</label>
  <input type="text" id="field_homePhone" *ngIf="employee" class="form-control" name="homePhone" [(ngModel)]="employee.homePhone" required  [ngClass]="{ 'is-invalid': (myForm.controls.homePhone?.dirty && myForm.controls.homePhone?.invalid) }" />
  <input type="text" id="field_homePhone" *ngIf="!employee" class="form-control" name="homePhone" ngModel required  [ngClass]="{ 'is-invalid': (myForm.controls.homePhone?.dirty && myForm.controls.homePhone?.invalid) }"/>
      <div *ngIf="(myForm.controls.homePhone?.dirty && myForm.controls.homePhone?.invalid)">
                <small [hidden]="!myForm.controls.homePhone?.errors?.required" class="form-text text-danger"></small>
                    </div>
</div>

          
          <div class="col-6 form-group">
  <label for="field_extension">Extension</label>
  <input type="text" id="field_extension" *ngIf="employee" class="form-control" name="extension" [(ngModel)]="employee.extension" required  [ngClass]="{ 'is-invalid': (myForm.controls.extension?.dirty && myForm.controls.extension?.invalid) }" />
  <input type="text" id="field_extension" *ngIf="!employee" class="form-control" name="extension" ngModel required  [ngClass]="{ 'is-invalid': (myForm.controls.extension?.dirty && myForm.controls.extension?.invalid) }"/>
      <div *ngIf="(myForm.controls.extension?.dirty && myForm.controls.extension?.invalid)">
                <small [hidden]="!myForm.controls.extension?.errors?.required" class="form-text text-danger"></small>
                    </div>
</div>

          
          <div class="col-6 form-group">
  <label for="field_notes">Notes</label>
  <input type="text" id="field_notes" *ngIf="employee" class="form-control" name="notes" [(ngModel)]="employee.notes" required  [ngClass]="{ 'is-invalid': (myForm.controls.notes?.dirty && myForm.controls.notes?.invalid) }" />
  <input type="text" id="field_notes" *ngIf="!employee" class="form-control" name="notes" ngModel required  [ngClass]="{ 'is-invalid': (myForm.controls.notes?.dirty && myForm.controls.notes?.invalid) }"/>
      <div *ngIf="(myForm.controls.notes?.dirty && myForm.controls.notes?.invalid)">
                <small [hidden]="!myForm.controls.notes?.errors?.required" class="form-text text-danger"></small>
                    </div>
</div>

          
          
          <div class="col-12 form-group">
  <label for="field_photoPath">Photo Path</label>
  <input type="text" id="field_photoPath" *ngIf="employee" class="form-control" name="photoPath" [(ngModel)]="employee.photoPath" required  [ngClass]="{ 'is-invalid': (myForm.controls.photoPath?.dirty && myForm.controls.photoPath?.invalid) }" />
  <input type="text" id="field_photoPath" *ngIf="!employee" class="form-control" name="photoPath" ngModel required  [ngClass]="{ 'is-invalid': (myForm.controls.photoPath?.dirty && myForm.controls.photoPath?.invalid) }"/>
      <div *ngIf="(myForm.controls.photoPath?.dirty && myForm.controls.photoPath?.invalid)">
                <small [hidden]="!myForm.controls.photoPath?.errors?.required" class="form-text text-danger"></small>
                    </div>
</div>

          

            <div class="col-12 form-group" *ngIf="employees">
              <label for="field_employee">Employee</label>

              <select *ngIf="!employee" class="form-control" name="idEmployee" ngModel>
                <option [ngValue]="null"></option>
                <option [ngValue]="employee._id" *ngFor="let employee of employees">{{ employee._id }}</option>
              </select>

              <select *ngIf="employee && employee.idEmployee" class="form-control" name="idEmployee" [(ngModel)]="employee.idEmployee">
                <option [ngValue]="null"></option>
                <option [ngValue]="employee._id" *ngFor="let employee of employees">{{ employee._id }}</option>
              </select>
            </div>

          <div id="buttonsPanel" class="col-12 form-group">
            <button class="btn btn-dark cursor-pointer" (click)="save(myForm.value)" *ngIf="isCreate" [disabled]="myForm.form.invalid">
              <i class="fa fa-floppy-o fa-fw"></i>Registrar
            </button>
            <button class="btn btn-dark cursor-pointer" (click)="update()" *ngIf="!isCreate" [disabled]="myForm.form.invalid">
              <i class="fa fa-floppy-o fa-fw"></i>Actualizar
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
