<div class="container m-top-and-bottom">
  <div class="card">
    <div class="card-header text-white text-center bg-dark">
      <h4>{{ crudOperationTitle }} Region</h4>
    </div>
    <div class="card-body">
      <form #myForm="ngForm">
        <div class="row">
          <div *ngIf="region && region._id" class="col-md-12 form-group">
            <label for="field_id">ID</label>
            <input id="fiel_id" *ngIf="region" type="text" class="form-control" name="id" [(ngModel)]="region._id" disabled required>
          </div>
          
          
          <div class="col-12 form-group">
  <label for="field_regionDescription">Region Description</label>
  <input type="text" id="field_regionDescription" *ngIf="region" class="form-control" name="regionDescription" [(ngModel)]="region.regionDescription" required  [ngClass]="{ 'is-invalid': (myForm.controls.regionDescription?.dirty && myForm.controls.regionDescription?.invalid) }" />
  <input type="text" id="field_regionDescription" *ngIf="!region" class="form-control" name="regionDescription" ngModel required  [ngClass]="{ 'is-invalid': (myForm.controls.regionDescription?.dirty && myForm.controls.regionDescription?.invalid) }"/>
      <div *ngIf="(myForm.controls.regionDescription?.dirty && myForm.controls.regionDescription?.invalid)">
                <small [hidden]="!myForm.controls.regionDescription?.errors?.required" class="form-text text-danger"></small>
                    </div>
</div>

          


          <div id="buttonsPanel" class="col-12 form-group">
            <button class="btn btn-dark cursor-pointer" (click)="save(myForm.value)" *ngIf="isCreate" [disabled]="myForm.form.invalid">
              <i class="fa fa-floppy-o fa-fw"></i>Registrar
            </button>
            <button class="btn btn-dark cursor-pointer" (click)="update()" *ngIf="!isCreate" [disabled]="myForm.form.invalid">
              <i class="fa fa-floppy-o fa-fw"></i>Actualizar
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
